<div id="formAut">
    <form class="form-signin" name="aut" id="aut" method="post" action="index.php">
        <h2 class="form-signin-heading">Введите:</h2>
        <table border="0" width="100%">
            <tr>

                <td><input type="text" class="input-block-level" placeholder="Хост" name="host"></td>
            </tr>
            <tr>

                <td><input type="text" class="input-block-level" placeholder="Логин" name="user"></td>
            </tr>
            <tr>

                <td><input type="password" class="input-block-level" placeholder="Пароль" name="pas"></td>
            </tr>
            <tr><td ><input class="btn btn-large btn-primary" type="submit" onclick="sendFormCreat('aut','formAut')" name="send" value="Ok"></td></tr>
        </table>
    </form>
</div>
