<div id="formCreate">
    <form class="form-signin" name="creat" id="creat" method="post" action="index.php">
        <h2 class="form-signin-heading">Введите:</h2>
        <table border="0" width="100%">
            <tr>

                <td><input type="text" class="input-block-level" placeholder="Имя базы" name="nameDb"></td>
            </tr>
            <tr><td ><input class="btn btn-large btn-primary" type="submit" onclick="sendFormCreat('creat','formCreate')" name="send" value="Ok"></td></tr>
        </table>
    </form>
</div>
